.videoCard{
    display: flex;
    width: 300px;
    flex-direction: column;
    .video-card-top{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;

    overflow: hidden;

        img{
            width: 100%;
            object-fit: cover;
        }
    }

    .video-card-bottom{
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 1rem;

        .channel-pic{
            display: flex;
            justify-content: center;
            min-width: 50px;
            height: 50px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
                object-fit: cover;
            }
        }

        .video-info{
            display: flex;
            flex-direction: column;

            h4{
                font-size: 1.1rem;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
             
            }
            .video-title.long {
                white-space: normal; /* Metni bir alt satıra taşımak için */
              }
            .channel-name{
                font-size: .9rem;
                color: rgb(84, 82, 82);
            }
            .video-sup-info{
                display: flex;
                align-items: center;
                gap: 0.3rem;
                .dot{
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: grey;
                }
                span{
                    color: grey;
                    font-size: .8rem;
                }
                
            }
        }
    }
}