.asideMenu{
 
    display: flex;
    flex-direction: column;
    width: 15%;
    position: sticky;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: white;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
        
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #55555590;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        visibility: hidden;
}
    
      &:hover {
        overflow-y: auto; 
       
      }



  ul{
        list-style: none;
        padding: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 1rem;

        border-bottom: 1px solid rgba(128, 128, 128, 0.332);

        .aside-title{
            margin: 1rem 0;
        }

        li{
            display: flex;
            align-items: center;
            padding: .7rem;
            border-radius: 15px;
            gap: 1.5rem;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            font-size: .8rem;
            font-weight: 400; 
            cursor: pointer;
            &:hover
            {
                background-color: rgba(211, 211, 211, 0.472);
            }

            span.icons{
                font-size: 1.3rem;
                cursor: pointer;
            }

            
        }

        .morefromyoutube{
            span:first-child{
                color: red;
            }
        }
    
    }

    .aside-channel{
        display: flex;
        align-items: center;

        .profile-photo{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            overflow: hidden;
            display: flex;

            img{
                width: 100%;
                object-fit: cover;
            }
}
    }
    
}


@media screen and (max-width:1295px){
    .asideMenu{
            flex: 1,0,100px;
        ul{
            border-bottom: 0;
            margin-left: 0;
            padding-left: .2rem;

            li{
                display: flex;
                flex-direction: column;
                gap: 0;

                span:last-child{
                    font-size: .7rem;
                }
            }
        }

        ul.second-section{
           li:nth-child(2),
           li:nth-child(3),
           li:nth-child(4),
           li:nth-child(6),
           li:nth-child(7){
                display: none;
                
            }
        }

        .subscription,
        .explore,
        .moreFromYoutube,
        .settings{
            display: none;
        }
    }
}

@media screen and (max-width:882px){
    .asideMenu{
           display: none;
    }
}

    .toggleActive{
        margin-left: .3rem;
        margin-top: 1.5rem;
    ul{
        border-bottom: 0;
        margin-left: 0;
        padding-left: .2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;

        li{
            display: flex;
            flex-direction: column;
            gap: 0;
            cursor: pointer;

            span.icons{
                font-size: 1.3rem;
            }
            span:last-child{
                font-size: .7rem;
            }
        }
    }

    ul.second-section{
       li:nth-child(2),
       li:nth-child(3),
       li:nth-child(4),
       li:nth-child(6),
       li:nth-child(7){
            display: none;
            
        }
    }

    .subscription,
    .explore,
    .moreFromYoutube,
    .settings{
        display: none;
    }
}
