
.maindiv{
    display: flex;
    gap: 1rem;
    max-width: 1700px;
    margin: 0 auto;
    margin-top: 3rem;

    >.left-side{
            flex: 4;

            .video{
            max-height: 700px;
            }
    }

    

.videos{
    flex: 1;

    .custom-flex-direction {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: -15px;
        min-width: 350px!important;
    
        .video-card-top{
            flex: 1;
            display: flex;
            align-items: stretch;
            justify-content: center;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            overflow: hidden;
            position: relative;
            max-width: 150px;


            .duration
    {
                position: absolute;
                right: .1rem;
                bottom: .1rem;
                color: white;
                font-size: .7rem;
                background-color: rgba(0, 0, 0, 0.732);
                padding: .1rem .5rem;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
    }
    
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    
        .video-card-bottom{
            flex: 1;
           display: flex;
           align-items: flex-start;
           justify-content: flex-start;
    
            .channel-pic{
                display: none;
            }
    
            .video-info{
                flex: 2;
                display: flex;
                flex-direction: column;
                margin-bottom: 1.3rem;
    
                h4{
                    font-size: .9rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 600;
                }
                .video-title.long {
                    white-space: normal;
              
                  }
                .channel-name{
                    font-size: .7rem;
                    color: rgb(84, 82, 82);
                }
                .video-sup-info{
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    .dot{
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: grey;
                    }
                    span{
                        color: grey;
                        font-size: .7rem;
                    }
                    
                }
            }
        }
      }
}



}


@media screen and (max-width:970px) {
    .maindiv{
        flex-direction: column;

        .left-side{
            .video-comments-div{
                display: none;
            }
        }
    }
}