.video-detail-page{
    padding: 1rem;
    position: relative;

    .detail-aside{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5%;

        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        background-color: #FFFF !important;

        
       
}

.show-aside{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

}


@media screen and (max-width:882px){
    .detail-aside{
        width: 15%!important;
}
}
