.video-detail-page{
    padding: 1rem;
    position: relative;

    .detail-aside{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 7%;
        padding-right: 3rem ;

        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        background-color: #FFFF !important;

        
  

        
       
}

.show-aside{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

}


@media screen and (max-width:882px){
    .detail-aside{
        width: 15%!important;
}
}


.toggleActive{
    margin-left: .3rem;
    margin-top: 1.5rem;
ul{
    border-bottom: 0;
    margin-left: 0;
    padding-left: .2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;

    li{
        display: flex;
        flex-direction: column;
        gap: 0;
        cursor: pointer;

        span.icons{
            font-size: 1.3rem;
        }
        span:last-child{
            font-size: .7rem;
        }
    }
}

ul.second-section{
   li:nth-child(2),
   li:nth-child(3),
   li:nth-child(4),
   li:nth-child(6),
   li:nth-child(7){
        display: none;
        
    }
}

.subscription,
.explore,
.moreFromYoutube,
.settings{
    display: none;
}
}


@media screen and (max-width:1445px){
    .video-detail-page{
    
        .detail-aside{
            width: 7%;
            padding-right: 1rem ;
    }
    
    }
}
